body
{
	font-family:"Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
	margin:0
}

.body-bottom,.body-top,.body1-container,.header-container1,.header-container2,.nav-list,header
{
	display:flex
}

footer,header
{
	background-color:#1f2937
}

header
{
	flex-direction:column;
	padding:1em 15%
}

footer
{
	padding:1%;
	text-align:center
}

.header-container1
{
	justify-content:space-between
}

.header-container2
{
	align-items:center;
	gap:40px;
	margin-bottom:10%;
	margin-top:10%
}

.header-container-left,.header-container-right
{
	flex:1
}

.header-container-right
{
	align-self:stretch
}

.nav-list
{
	gap:30px;
	list-style-type:none;
	margin:0;
	padding:0
}

a
{
	text-decoration:none
}

.header-container-left h1
{
	color:#f9faf8;
	font-size:48px;
	font-weight:800;
	margin:0
}

.header-container-left p,.nav-list a
{
	color:#e5e7ebd4;
	font-size:18px;
	font-weight:9000
}

.header-logo
{
	color:#f9faf8;
	flex-shrink:0;
	font-size:24px;
	font-weight:600
}

.header-container-right img
{
	height:100%;
	object-fit:cover;
	width:100%
}

button
{
	background-color:#3882f6;
	border:0;
	border-radius:.35em;
	color:#f9faf8;
	font-weight:700;
	padding:.5em 1.5em
}

.body-top
{
	align-items:center;
	flex-direction:column;
	padding:0 20%
}

.body1-container
{
	border-color:#1f2937;
	border-width:1em;
	gap:5%;
	justify-content:center
}

.img-content img
{
	border-radius:1em;
	height:175px;
	object-fit:cover;
	width:175px
}

.img-content p
{
	color:#1f2937e2;
	font-weight:lighter;
	margin:0
}

.img-content
{
	justify-content:center;
	margin-bottom:13%;
	max-width:min-content;
	text-align:center
}

.body-top h2,blockquote
{
	color:#1f2937;
	font-size:36px;
	font-weight:800;
	margin:8%0
}

blockquote
{
	background-color:#e5e7eb;
	color:#1f2937e4;
	font-style:italic;
	font-weight:lighter;
	margin:0;
	padding:8% 20%;
	text-align:justify
}

.quote
{
	font-size:27px;
	font-style:normal;
	font-weight:700;
	text-align:right
}

.body-bottom
{
	background-color:#3882f6;
	border-radius:.35em;
	color:#f9faf8;
	font-size:larger;
	justify-content:space-between;
	margin:5% 10%;
	padding:4% 8%
}

.body-bottom button
{
	border-color:#f9faf8;
	border-style:solid;
	border-width:3px;
	flex-shrink:0;
	font-size:large;
	padding:1% 5%
}

.ad h3,.ad p
{
	margin:0
}

.ad p
{
	color:#e5e7ebd4
}

footer a
{
	color:#e5e7eb;
	text-decoration:underline
}